@page "/plugin-reports"
@using BimManagerPortal.WebAssembly.Components
@using BimManagerPortal.WebAssembly.Models.BuiltIntTab
@using BimManagerPortal.WebAssembly.Models.Results

<PageTitle>Отчеты плагинов</PageTitle>

<h1>Отчеты плагинов</h1>

<BuiltIntTabComponent ActiveTabModel="_activeTab"
                      ActiveTabChanged="OnTabChanged"/>

@switch (_activeTab)
{
    case BuiltIntTabModel.AllReportsPlugins:
        <AllReportPluginsComponent ActiveTabChanged="OnReadTabChanged"/>
        break;
    case BuiltIntTabModel.ReadPluginReport:
        <ReadReportPluginComponent PluginReport="_pluginReport"/>
        break;
}


@code {
    private BuiltIntTabModel _activeTab = BuiltIntTabModel.AllReportsPlugins;
    private object? _pluginReport { get; set; }

    private void OnReadTabChanged(ReadPluginReportResult result)
    {
        _pluginReport = result.PluginReportModel;
        OnTabChanged(BuiltIntTabModel.ReadPluginReport);
    }
    private void OnTabChanged(BuiltIntTabModel tab)
    {
        _activeTab = tab;
    }
}