<div class="form-check mb-2">
    <InputCheckbox class="form-check-input"
                   @bind-Value="Value"
                   id="@Id" />
    <label class="form-check-label ms-2" for="@Id">
        @Label
    </label>
</div>

@code {
    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public bool Value { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }
    [Parameter] public string Id { get; set; } = Guid.NewGuid().ToString();
}